<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="theme.html">Theme</a>
        </li>
    </ul>
    <ul class="navbar-nav">

      <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" href="#components" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Components
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#navbars">Navbars</a>
        <a class="dropdown-item" href="#buttons">Buttons</a>
        <a class="dropdown-item" href="#typography">Typography</a>
        <a class="dropdown-item" href="#tables">Tables</a>
        <a class="dropdown-item" href="#forms">Forms</a>
        <a class="dropdown-item" href="#navs">Navs</a>
        <a class="dropdown-item" href="#alerts">Alerts</a>
        <a class="dropdown-item" href="#progress">Progress</a>
        <a class="dropdown-item" href="#jumbotran">Jumbotran</a>
        <a class="dropdown-item" href="#list-group">List Groups</a>
        <a class="dropdown-item" href="#cards">Cards</a>
        <a class="dropdown-item" href="#dialogs">Dialogs</a>
        <a class="dropdown-item" href="#popovers">Popover</a>
    </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>