<aside class="sidebar">
    <div class="sidebar-inner">
        <ul class="menu">
            <li>
                <a href=''>Home</a>
            </li>
            <li class="active">
                <a href=''>About</a>
            </li>
            <li>
                <a href=''>Contact</a>
            </li>
            <li class="sub-menu">
                <a href="">
                    <i class="ti-angle-right menu-arrow"></i> Headers
                </a>
                <ul class="animated">
                    <li><a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="headers.textual-menu" data-ui-sref-active="active" class="active" href="#/headers/textual-menu">Textual menu</a></li>
                    <li><a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="headers.image-logo" data-ui-sref-active="active" href="#/headers/image-logo">Image logo</a></li>
                    <li><a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="headers.mainmenu-on-top" data-ui-sref-active="active" href="#/headers/mainmenu-on-top">Mainmenu on top</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>