// Here you can add other styles
@font-face {
  font-family: 'SEGOEUIL';
  src: url('../fonts/SEGOEUIL.eot');
  src: local('SEGOEUIL'), url('../fonts/SEGOEUIL.woff') format('woff'), url('../fonts/SEGOEUIL.ttf') format('truetype');
}

@font-face {
  font-family: 'SEGOEUIBOLD';
  src: url('../fonts/ufonts.com_segoe_ui_bold.eot');
  src: local('SEGOEUIBOLD'), url('../fonts/ufonts.com_segoe-ui-bold.woff') format('woff'), url('../fonts/ufonts.com_segoe-ui-bold.ttf') format('truetype');
}